# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.cproject
.project
.settings

# IntelliJ
.idea/

# Misc
excluded/
todo.txt
