Package: __NAME__
Version: __VERSION__
Section: base
Priority: optional
Architecture: __ARCH__
Depends: libboost-program-options-dev (>=1.0), libboost-system-dev (>=1.0), libboost-thread-dev (>=1.0), libncurses-dev (>=1.0), libnuma-dev (>=1.0), libaio-dev (>=0.1)
Maintainer: Sven Breuner <sven.breuner@gmail.com>
Description: Storage benchmark tool
 Storage benchmark for file/directory operations and blockdevice operations.
 Runs on single host or distributed across multiple hosts.
