#!/usr/bin/make -f  
%:  
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_install:
	install -D -m 0755 $$(pwd)/usr/bin/elbencho $$(pwd)/debian/elbencho/usr/bin/elbencho
	install -D -m 0755 $$(pwd)/usr/bin/elbencho-chart $$(pwd)/debian/elbencho/usr/bin/elbencho-chart
	install -D -m 0755 $$(pwd)/usr/bin/elbencho-scan-path $$(pwd)/debian/elbencho/usr/bin/elbencho-scan-path
	# lintian warns about /etc/bash_completion.d being obsolete, so install also to new /usr/share/bash-completion
	install -D -m 0755 $$(pwd)/etc/bash_completion.d/elbencho $$(pwd)/debian/elbencho/etc/bash_completion.d/elbencho
	install -D -m 0755 $$(pwd)/etc/bash_completion.d/elbencho $$(pwd)/debian/elbencho/usr/share/bash-completion/completions/elbencho
	install -D -m 0755 $$(pwd)/etc/bash_completion.d/elbencho-chart $$(pwd)/debian/elbencho/etc/bash_completion.d/elbencho-chart
	install -D -m 0755 $$(pwd)/etc/bash_completion.d/elbencho-chart $$(pwd)/debian/elbencho/usr/share/bash-completion/completions/elbencho-chart
	# install contrib tools
	install -D -m 0755 $$(pwd)/usr/bin/mtelbencho.sh $$(pwd)/debian/elbencho/usr/bin/mtelbencho.sh
	install -D -m 0755 $$(pwd)/usr/bin/graph_sweep.sh $$(pwd)/debian/elbencho/usr/bin/graph_sweep.sh
	