Name:           __NAME__
Version:        __VERSION__
Release:        1
Summary:        Storage benchmark tool
License:        GPLv3+

%description
Unified storage benchmark for file, directory and block device operations.
Runs on single host or distributed across multiple hosts and supports GPUs.

#%prep
#%setup
#%build
#%install

%clean
rm -rf %{buildroot}

%files
%{_bindir}/__NAME__
